*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

#header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

#menu{
    display: flex;
    align-items: center;
    
}

li{
    list-style: none;
}

#menu>a{
    text-decoration: none;
}

#menu>a>li{
    padding: 10px;
    border-right: 2px solid black;
}

#menu>a>li:hover{
    padding: 10px;
    background-color: rgb(0, 183, 183);
}

#cris{
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.secao{
    background-color: gray;
    height: 400px;
}